# Ερώτηση 4

In [14]:
import pandas as pd
import numpy as np
import json
import time 

dataset_path = '../yelp-dataset/' # Change this path to match your local dataset folder path

business_filename = 'yelp_academic_dataset_business.json'
users_filename = 'yelp_academic_dataset_user.json'

In [15]:
list_business = []
with open(dataset_path + business_filename, 'r', encoding="utf8") as buisness_file:
    for line in buisness_file:
        json_dict = json.loads(line)
        if json_dict['review_count'] >= 10:
            list_business.append([json_dict['business_id'], json_dict['name'], json_dict['review_count']])

In [16]:
df_buisness = pd.DataFrame(list_business, columns=['business_id', 'name', 'reviews_count'])
display(df_buisness)

                   business_id                          name  reviews_count
0       f9NumwFMBDn751xgFiRbNA      The Range At Lake Norman             36
1       51M2Kk903DFYI6gnB5I6SQ       USE MY GUY SERVICES LLC             26
2       cKyLV5oWZJ2NudWgqs8VZw   Oasis Auto Center - Gilbert             38
3       oiAlXZPIFm2nBCt0DHLu_Q          Green World Cleaners             81
4       ScYkbYNkDgCneBrD9vqhCQ  Junction Tire & Auto Service             18
...                        ...                           ...            ...
103798  BAVuLTDmpSzDCk37A5HjtQ             Bruegger's Bagels             13
103799  hskVqZCPqy-omm9CHi44xQ                      Domino's             16
103800  JjcJVqhZXhP4tvOhg3fnag             Water Heater Pros            217
103801  PotiAhtDMYMNsJCzV0oLAw                       Walmart             13
103802  SYa2j1boLF8DcGVOYfHPcA                     Five Guys             97

[103803 rows x 3 columns]

In [17]:
graph_G = {} # dictionary whose keys are the nodes of the graph. 
             # For each key, the corresponding value is a list 
             # containing the nodes that are connected by a direct 
             # arc from this node.

In [18]:
list_users = []
with open(dataset_path + users_filename, 'r', encoding="utf8") as users_file:
    for line in users_file:
        json_dict = json.loads(line)
        if json_dict['review_count'] >= 10:
            list_users.append([json_dict['user_id'], json_dict['name'], json_dict['review_count'], json_dict['friends']]) 
            graph_G[json_dict['user_id']] = json_dict['friends']

In [19]:
df_users = pd.DataFrame(list_users, columns=['business_id', 'name', 'reviews_count', 'friends'])
display(df_users)

,business_id,name,reviews_count,friends
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg..."
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,"ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug..."
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,"Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ..."
3,QaELAmRcDc5TfJEylaaP8g,John,206,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ..."
4,xvu8G900tezTzbbfqmTKvA,Anne,485,"3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ..."
...,...,...,...,...
688827,thOXz-s_02JRhDy6O7NDRA,Chris,16,None
688828,xRgzVeijUq12h_hI1nEoLg,J,17,None
688829,nx9l-OtqmPZOe7xHwOsTog,Ernesto,64,None
688830,mhYau4G-UWL5y93lXR2LBg,Caligirl24,22,None
688831,VEAWhS_RF-cKSUflmbCn7Q,Frank,10,None