# Ερώτηση 4

In [1]:
import pandas as pd
import numpy as np
import json
import time 

dataset_path = '../yelp-dataset/' # Change this path to match your local dataset folder path

business_filename = 'yelp_academic_dataset_business.json'
users_filename = 'yelp_academic_dataset_user.json'
review_filename = 'yelp_academic_dataset_review.json'

In [2]:
# Loading total businesses with at least 50 reviews
list_business = []
with open(dataset_path + business_filename, 'r', encoding="utf8") as buisness_file:
    for line in buisness_file:
        json_dict = json.loads(line)
        if json_dict['review_count'] >= 50:
            list_business.append([ json_dict['business_id'], 
                                   json_dict['name'], 
                                   json_dict['review_count']])

In [3]:
df_buisness = pd.DataFrame(list_business, columns=['business_id', 'name', 'b_reviews_count'])
display(df_buisness)

                  business_id                           name  b_reviews_count
0      oiAlXZPIFm2nBCt0DHLu_Q           Green World Cleaners               81
1      x3Po6tJGb729u_HJPY6UCA              Glendale Glitters               52
2      Mmd5WDFq9hHcQ3uClngGjQ               Irene's Tap Room               79
3      tF2ovXGBW6EeaPDWOxjpbg                    Autohaus Az               79
4      0QjROMVW9ACKjhSEfHqNCQ               Mi Mi Restaurant              116
...                       ...                            ...              ...
31937  YZeUH6zYS0dq5QHLYZhUnQ                        Hooters              106
31938  xVpE01l6ZXdEtVf5PkRpDg                          Julep               95
31939  fNil19SUfPAPnLQrYnFrGQ  Cheyenne West Animal Hospital              124
31940  JjcJVqhZXhP4tvOhg3fnag              Water Heater Pros              217
31941  SYa2j1boLF8DcGVOYfHPcA                      Five Guys               97

[31942 rows x 3 columns]

In [4]:
B = df_buisness['business_id'].to_numpy()

In [5]:
# Helping function to check if a business is in business_col (Toronto and >=15 reviews)
def get_business_index(business_id):
    return np.where(B == business_id)[0]

In [6]:
get_business_index('YZeUH6zYS0dq5QHLYZhUnQ')

array([31937], dtype=int64)

In [7]:
list_reviews = []
with open(dataset_path + review_filename, 'r', encoding="utf8") as reviews_file:
    for line in reviews_file:
        json_dict = json.loads(line)
        list_reviews.append([json_dict['business_id'], json_dict['user_id']])

In [8]:
reviews_df = pd.DataFrame(list_reviews, columns=['business_id', 'user_id'])
reviews_df

                    business_id                 user_id
0        -MhfebM0QIsKt87iDN-FNw  OwjRMXRC0KyPrIlcjaXeFQ
1        lbrU8StCq3yDfr-QMnGrmQ  nIJD_7ZXHq-FX8byPMOkMQ
2        HQl28KMwrEKHqhFrrDqVNQ  V34qejxNsCbcgD8C0HVk-Q
3        5JxlZaqCnk1MnbgRirs40Q  ofKDkJKXSKZXu5xJNGiiBQ
4        IS4cv902ykd8wj1TR0N3-A  UgMW8bLE0QMJDCkQ1Ax5Mg
...                         ...                     ...
8021117  XW2kaXdahICaJ27A0dhGHg  6DMFD3BRp-MVzDQelRx5UQ
8021118  IsoLzudHC50oJLiEWpwV-w  _g6P8H3-qfbz1FxbffS68g
8021119  kDCyqlYcstqnoqnfBRS5Og  Scmyz7MK4TbXXYcaLZxIxQ
8021120  VKVDDHKtsdrnigeIf9S8RA  lBuAACBEThaQHQGMzAlKpg
8021121  2SbyRgHWuWNlq18eHAx95Q  fiA6ztHPONUkmX6yKIXyHg

[8021122 rows x 2 columns]

In [9]:
# inner join of df_buisness table and reviews_df
business_users = pd.merge(df_buisness, reviews_df, how='inner', on=['business_id'])

In [10]:
# the above helps us get a user_ids column which has all of the id's of the users that
# commented on any of the businesses on the B dataframe. 
business_users

,business_id,name,b_reviews_count,user_id
0,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,81,IMguz1Z9dp8HG0UfeLEdEg
1,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,81,_TAVpa1Y2_5KZ5wWYeX_6g
2,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,81,45R6BBybzwDuJaL08d1myQ
3,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,81,7iziCsP2MkHMmckpYVPSDg
4,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,81,Yg08tRMxm0eaL-rXyNIAHw
...,...,...,...,...
5852605,SYa2j1boLF8DcGVOYfHPcA,Five Guys,97,CUMaqXDakJeMTkUjpI8FxA
5852606,SYa2j1boLF8DcGVOYfHPcA,Five Guys,97,jaz6V3x-ybMFMqgzpAuV1w
5852607,SYa2j1boLF8DcGVOYfHPcA,Five Guys,97,jgCNT4cJN3JPHtPnY1wgrQ
5852608,SYa2j1boLF8DcGVOYfHPcA,Five Guys,97,pgUQjUl_2G5L9EreDzIjSw
5852609,SYa2j1boLF8DcGVOYfHPcA,Five Guys,97,KcRKqbOjdgjq2UL1nhf9wQ

In [17]:
# We count how many comments each unique user_id has
users_comments = business_users['user_id'].value_counts().rename_axis('user_id').reset_index(name='counts')

In [18]:
users_comments

                        user_id  counts
0        bLbSNkLggFnqwNNzzq-Ijw    1959
1        ELcQDlf69kb-ihJfxZyL0A    1689
2        CxDOIDnH8gp9KXzpBHJYXw    1628
3        PKEzKWv_FktMm2mGPjwd0Q    1532
4        U4INQZOPSUaj8hMjLlZ3KA    1529
...                         ...     ...
1601244  d_bbo2M-xg29l-yD6YvFLw       1
1601245  VTejp6GPkLcdJpdf4ebtBw       1
1601246  KZurrkPsuCtJ7bQsIqjMMw       1
1601247  ZTEP2bsIV4nscSKbMzrITg       1
1601248  L_EHD6jRMY-NhJ984GVfBw       1

[1601249 rows x 2 columns]

In [19]:
# and finally keep the ids of users with at least 20 reviews on B set.
U = users_comments[users_comments['counts'] >= 20]
U

                      user_id  counts
0      bLbSNkLggFnqwNNzzq-Ijw    1959
1      ELcQDlf69kb-ihJfxZyL0A    1689
2      CxDOIDnH8gp9KXzpBHJYXw    1628
3      PKEzKWv_FktMm2mGPjwd0Q    1532
4      U4INQZOPSUaj8hMjLlZ3KA    1529
...                       ...     ...
40220  CQtiMK3BLQdPwpQN-3IhTw      20
40221  PixAmdRa58XZ3hr8YLS36g      20
40222  62EuwujtMdgx73cvMVFZYA      20
40223  edp649wUqcjv8ckzztzssg      20
40224  WzwtnkY9aRhajGa4ifQqLQ      20

[40225 rows x 2 columns]

In [22]:
list_users = []
with open(dataset_path + users_filename, 'r', encoding="utf8") as users_file:
    for line in users_file:
        json_dict = json.loads(line)
        list_users.append([ json_dict['user_id'], 
                            json_dict['name'], 
                            json_dict['review_count'], 
                            json_dict['friends'].replace(',', '').split()])

df_users = pd.DataFrame(list_users, columns=['user_id', 'name', 'review_count', 'friends'])
display(df_users)

,user_id,name,review_count,friends
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,"[oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfD..."
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,"[ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOu..."
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,"[Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnP..."
3,QaELAmRcDc5TfJEylaaP8g,John,206,"[iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplf..."
4,xvu8G900tezTzbbfqmTKvA,Anne,485,"[3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyL..."
...,...,...,...,...
1968698,gDC6V3sfu9SixRic9hkEQQ,Larry,9,[None]
1968699,VEAWhS_RF-cKSUflmbCn7Q,Frank,10,[None]
1968700,toAMthOzk2VDBgpW7Hu3eA,Greg,1,[None]
1968701,hNX_EqOMImKGUx4g1x532A,RJ,2,[None]
1968702,9lsXyOI065n-T0pJ_EoA_w,Aaron,2,[None]

In [23]:
final = pd.merge(df_users, U, how='inner', on=['user_id'])

In [24]:
final

,user_id,name,review_count,friends,counts
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,"[oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfD...",51
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,"[ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOu...",40
2,f4_MRNHvN-yRn7EA8YWRxg,Jennifer,822,"[c-Dja5bexzEWBufNsHfRrQ, 02HJNyOzzYXvEKVApJb8G...",38
3,q-v8elVPvKz0KvK69QSj1Q,Lisa Marie,666,"[rt1KveqwFMnkN6dXKg5Qyg, NfnKx3z7zFottS3yHabw1...",68
4,4VmuXuSRhv5UxYUy3tMpiQ,Rebecca,106,"[ZIoSgXGRMfq39eW6-FFWQA, ZucM8Rc7m4HguYM4kaoXS...",86
...,...,...,...,...,...
40220,0l443Ms-iOY1BLO277Z4Cw,Bonnie,22,[None],20
40221,AN2m1dxk90mc3nytBxZh4A,Super,48,[None],25
40222,d81KHrKBC0yti3XZSgLoPA,Cheryl,27,[None],20
40223,XzGwz0ogpaozxW5c4E-eYQ,Andrew,745,"[N-jUTuefV76lMYUpCF7g0w, PEsjETiHwtFMCvS809vRb...",21
40224,SU5swelEjsEjrssNnevitQ,James,72,"[6ckuqFjxwL_AvyDiTHtk0Q, ml8HT239EYfgW58EpyiJ_...",22

## Creating the G graph

In [33]:
import networkx as nx

G = nx.Graph()
for index, row in final.iterrows():
    for friend in row['friends']:
        G.add_edge(row['user_id'], friend)

### Max cc

In [34]:
largest_cc = max(nx.connected_components(G), key=len)
nx.draw_networkx(CC_max)

NameError: name 'G3' is not defined